@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    background-color: #dadada;
    background-image: url(http://localhost/legalpremiums/public/images/background.jpg);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: left top;
}
main {
    @apply min-h-screen pt-3 px-1 md:px-3 bg-white
}

footer {
    @apply pt-3 bg-yellow-800;
}
footer .top {
    @apply px-1 md:px-3; 
    min-height: 180px;
}
footer .bottom {
    @apply px-1 md:px-3; 
}

h1 {
    @appy text-3xl font-bold text-gray-700;
}
h2 {
    @apply text-2xl font-bold text-gray-700
}

h3 {
    @apply text-xl font-bold text-gray-700
}
.main-btn {
    @apply py-1 px-3 bg-yellow-900 text-gray-50 hover:bg-yellow-700 rounded
}
.main-outline-btn {
    @apply py-1 px-3 bg-gray-50 text-yellow-700 hover:text-gray-50 hover:bg-yellow-700 rounded border border-yellow-700
}
.secondary-btn {
    @apply py-1 px-3 bg-gray-50 text-gray-600 hover:text-gray-50 hover:bg-yellow-700 rounded border border-gray-200
}
.text-lc-warning {
    @apply text-sky-500;
}
.bg-lc-warning {
    @apply bg-sky-500;
}